<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
  <link rel="stylesheet" href="/css/style.css">
  <title>Login</title>
<body>

  <div class="glow one"></div>
  <div class="glow two"></div>

  <% if (success && success.length > 0) { %>
    <div class="toast success"><%= success[0] %></div>
  <% } %>

  <% if (error && error.length > 0) { %>
    <div class="toast error"><%= error[0] %></div>
  <% } %>

  <main class="auth-page">
    <section class="auth-text">
      <h1>Welcome Back to <span>Your Dashboard</span></h1>
      <p>
        Login to access your personalized dashboard, latest news updates,
        and real-time weather reports in one clean workspace.
      </p>
    </section>

    <section class="auth-card">
      <form action="/login" method="POST">
        <h2>Login</h2>
        <p class="subtitle">Enter your details to continue</p>
        <a href="/" class="back-home">← Back to Home</a>

        <div class="input-group">
          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
    

        <div class="input-group">
          <label for="password">Password</label>

          <div class="password-wrapper">
            <input type="password" name="password" id="password" placeholder="Enter your password" required>

            <button type="button" class="toggle-password" onclick="togglePassword()">
              <i class="fa-solid fa-eye" id="eyeIcon"></i>
            </button>
          </div>
        </div>

        <button type="submit" class="auth-btn">Login</button>

        <p class="auth-footer">
          Don't have an account?
          <a href="/register">Register</a>
        </p>
      </form>
    </section>
  </main>

  <script>
  function togglePassword() {
    const input = document.getElementById("password");
    const eyeIcon = document.getElementById("eyeIcon");

    if (input.type === "password") {
      input.type = "text";
      eyeIcon.classList.remove("fa-eye");
      eyeIcon.classList.add("fa-eye-slash");
    } else {
      input.type = "password";
      eyeIcon.classList.remove("fa-eye-slash");
      eyeIcon.classList.add("fa-eye");
    }
  }

  const toast = document.querySelector(".toast");

  if (toast) {
    setTimeout(() => {
      toast.style.opacity = "0";
      toast.style.transform = "translateX(100%)";

      setTimeout(() => {
        toast.remove();
      }, 300);
    }, 3000);
  }
</script>
</body>
</html>